<!DOCTYPE html>
<html lang="en">
<head>
    <title>Puppy Dashboard</title>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
      <h2><%= puppy.name %></h2>
      <p>Name: <%= puppy.name %></p>
      <p>About: <%= puppy.about %></p> 
      <p>Color: <%= puppy.color %></p>
      <p>City: <%= puppy.city %></p>  

      <a href="/show">List</a>
</body>
</html>