<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title><%= bat.name %>'s page</title>
     </head>
     <body>
          <h1><%= bat.name %>'s Information</h1>

          <p>Name:  <%= bat.name %> </p>
          <p>Weight:  <%= bat.weight %> </p>
          <p>Color:  <%= bat.color %> </p>

           <a href="/"><button type="button" name="button">See all Bats</button></a>

     </body>
</html>
